<!DOCTYPE html>


<!DOCTYPE html>
<html>
<body style="background-color:powderblue;">

<h1>hi you can search for any person social media by photo</h1>
<h2>follow steps</h2>
<p> 1.click the button
    2.wait for minimum 2 min
    3.if the app find the person it will provide a link of the person social media account 
    4.else if it will unsuccessfull it will not provide any link	




</p>

<p>
	<title>upload</title>
	<h1>file uploader</h1>
	<form id ='upload-form' action="{{url_for('upload')}}" method='POST' enctype="multipart/form-data">
		<input type="file" name="file" accept="image/*" multiple>
		<input type="submit" value='send'>
	 </form>
</p>

<p> <a href="{{ url_for('do_something') }}">Your button</a></p>

</body>
</html>

